<div class="memb4d25">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="membership_bg">
                    <div class="membership_title">
                        <div class="membership__left">
                            <h2>Quy định 1</h2>
                            <div class="memmbership_price">Phí $1/giao dịch</div>
                        </div>
                        <div class="membership__right">
                            <img src="/images/icon-1.svg" alt="">
                        </div>
                    </div>
                    <div class="membership_des">
                        <p>Quy định cụ thể :</p>
                    </div>
                    <div class="panel-group accordion" id="accordion0">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="headingOne">
                                <div class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseOne" href="#"
                                        aria-expanded="false" aria-controls="collapseOne">
                                        <i class="uil uil-check chck_icon"></i>Điều 01:
                                    </a>
                                </div>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingOne" data-parent="#accordion0">
                                <div class="panel-body">Anh Kiểm</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" id="headingTwo">
                                <div class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" href="#"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                        <i class="uil uil-check chck_icon"></i>Điều 02:
                                    </a>
                                </div>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingTwo" data-parent="#accordion0">
                                <div class="panel-body">Anh Kiểm</div>
                            </div>
                        </div>
                    </div>
                    <button class="prmb_btn">Thực hiện rút tiền</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="membership_bg">
                    <div class="membership_title">
                        <div class="membership__left">
                            <h2>Quy định 1</h2>
                            <div class="memmbership_price">Phí $2/giao dịch</div>
                        </div>
                        <div class="membership__right">
                            <img src="/images/icon-2.svg" alt="">
                        </div>
                    </div>
                    <div class="membership_des">
                        <p>Quy định cụ thể :</p>
                    </div>
                    <div class="panel-group accordion" id="accordion0">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="headingOne">
                                <div class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseOne" href="#"
                                        aria-expanded="false" aria-controls="collapseOne">
                                        <i class="uil uil-check chck_icon"></i>Điều 01:
                                    </a>
                                </div>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingOne" data-parent="#accordion0">
                                <div class="panel-body">Anh Kiểm</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" id="headingTwo">
                                <div class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" href="#"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                        <i class="uil uil-check chck_icon"></i>Điều 02:
                                    </a>
                                </div>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingTwo" data-parent="#accordion0">
                                <div class="panel-body">Anh Kiểm</div>
                            </div>
                        </div>
                    </div>
                    <button class="prmb_btn">Thực hiện rút tiền</button>
                </div>
            </div>
            
        </div>
    </div>
</div>