<div class="sa4d25">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-8">
                <div class="section3125">
                    <div class="explore_search">
                        <div class="ui search focus">
                            <div class="ui left icon input swdh11">
                                <input class="prompt srch_explore" type="text" placeholder="Tìm thành viên">
                                <i class="uil uil-search-alt icon icon2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="_14d25">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="fcrse_1 mt-30">
                                <div class="tutor_img">
                                    <a href="instructor_profile_view.html"><img src="/images/left-imgs/img-1.jpg"
                                            alt=""></a>
                                </div>
                                <div class="tutor_content_dt">
                                    <div class="tutor150">
                                        <a href="instructor_profile_view.html" class="tutor_name">Anh Kiểm</a>
                                        <div class="mef78" title="Verify">
                                            <i class="uil uil-check-circle"></i>
                                        </div>
                                    </div>
                                    <div class="tutor_cate">nguyenhaanhkiem@gmail.com</div>
                                    <ul class="tutor_social_links">
                                        <li><a href="#" class="fb"><i class="uil uil-trash-alt"></i></a></li>
                                    </ul>
                                    <div class="tut1250">
                                        <span class="vdt15">Số đánh giá: 710</span>
                                        <span class="vdt15">Tài khoản: 11$</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="fcrse_1 mt-30">
                                <div class="tutor_img">
                                    <a href="instructor_profile_view.html"><img src="/images/left-imgs/img-2.jpg"
                                            alt=""></a>
                                </div>
                                <div class="tutor_content_dt">
                                    <div class="tutor150">
                                        <a href="instructor_profile_view.html" class="tutor_name">John Doe</a>
                                        <div class="mef78" title="Verify">
                                            <i class="uil uil-check-circle"></i>
                                        </div>
                                    </div>
                                    <div class="tutor_cate">nguyenhaanhkiem@gmail.com</div>
                                    <ul class="tutor_social_links">
                                        <li><a href="#" class="fb"><i class="uil uil-trash-alt"></i></a></li>
                                    </ul>
                                    <div class="tut1250">
                                        <span class="vdt15">Số đánh giá: 710</span>
                                        <span class="vdt15">Tài khoản: 11$</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="fcrse_1 mt-30">
                                <div class="tutor_img">
                                    <a href="instructor_profile_view.html"><img src="/images/left-imgs/img-3.jpg"
                                            alt=""></a>
                                </div>
                                <div class="tutor_content_dt">
                                    <div class="tutor150">
                                        <a href="instructor_profile_view.html" class="tutor_name">John Doe</a>
                                        <div class="mef78" title="Verify">
                                            <i class="uil uil-check-circle"></i>
                                        </div>
                                    </div>
                                    <div class="tutor_cate">nguyenhaanhkiem@gmail.com</div>
                                    <ul class="tutor_social_links">
                                        <li><a href="#" class="fb"><i class="uil uil-trash-alt"></i></a></li>
                                    </ul>
                                    <div class="tut1250">
                                        <span class="vdt15">Số đánh giá: 710</span>
                                        <span class="vdt15">Tài khoản: 11$</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>