<div class="sa4d25">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="my_courses_tabs">
                    <ul class="nav nav-pills my_crse_nav" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-my-courses-tab" data-toggle="pill"
                                href="#pills-my-courses" role="tab" aria-controls="pills-my-courses"
                                aria-selected="true"><i class="uil uil-book-alt"></i>Quản lý đánh giá</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-my-courses" role="tabpanel">
                            <div class="table-responsive mt-30">
                                <table class="table ucp-table">
                                    <thead class="thead-s">
                                        <tr>
                                            <th class="text-center" scope="col">Thứ tự</th>
                                            <th class="text-center" scope="col">Tên sản phẩm</th>
                                            <th class="text-center" scope="col">Nội dung</th>
                                            <th class="text-center" scope="col">Tuỳ chỉnh</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">1</td>
                                            <td class="text-center">Xiaomi Mi 11</td>
                                            <td class="text-center">Sản phẩm tốt</td>
                                            <td class="text-center">
                                                <a href="/course/detail/?title={{this.slug}}" title="Xem đánh giá"
                                                    class="gray-s"><i class="uil uil-eye"></i></a>
                                                <a data-id="{{this.cid}}" href="javascript: ;" title="Xoá đánh giá"
                                                    class="gray-s DelCate" role="button"><i
                                                        class="uil uil-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>