{{#section 'css'}}
<style>
	.block-27 ul {
		padding: 0;
		margin: 0;
	}

	.block-27 ul li {
		display: inline-block;
		margin-bottom: 4px;
		font-weight: 400;
	}

	.block-27 ul li a,
	.block-27 ul li span {
		border: 1px solid #1eafed;
		text-align: center;
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 50%;
	}

	.block-27 ul li.active a,
	.block-27 ul li.active span {
		background: #1eafed;
		color: #fff;
		border: 1px solid transparent;
	}
</style>
{{/section}}

<div class="sa4d25">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-9 col-lg-8">
				<div class="section3126">
					<div class="row">
						<div class="col-xl-6 col-lg-12 col-md-6">
							<div class="fcrse_1 mb-20">
								<a href="/product/product_detail" class="fcrse_img">
									<img src="/images/mi11.jpg" alt="">
									<div class="course-overlay">
										<div class="badge_seller bg-dark">25 hours</div>
										<div class="crse_reviews">
											<i class='uil uil-star'></i>710 Đánh giá
										</div>
										<span class="play_btn1"><i class="uil uil-play"></i></span>
										<div class="crse_timer bg-danger">
											<h3>Xiaomi Mi 11</h3>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="col-xl-6 col-lg-12 col-md-6">
							<div class="fcrse_1 mb-20">
								<a href="/product/product_detail" class="fcrse_img">
									<img src="/images/mi-band-5.jpg" alt="">
									<div class="course-overlay">
										<div class="badge_seller bg-dark">25 hours</div>
										<div class="crse_reviews">
											<i class='uil uil-star'></i>710 Đánh giá
										</div>
										<span class="play_btn1"><i class="uil uil-play"></i></span>
										<div class="crse_timer bg-danger">
											<h3>Mi Band 5</h3>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="col-xl-6 col-lg-12 col-md-6">
							<div class="fcrse_1 mb-20">
								<a href="/product/product_detail" class="fcrse_img">
									<img src="/images/laptop-133.jpg" alt="">
									<div class="course-overlay">
										<div class="badge_seller bg-dark">25 hours</div>
										<div class="crse_reviews">
											<i class='uil uil-star'></i>710 Đánh giá
										</div>
										<span class="play_btn1"><i class="uil uil-play"></i></span>
										<div class="crse_timer bg-danger">
											<h3>RedmiBook 14</h3>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="section3126">
					<div class="row">
						<div class="col ">
							<div class="block-27">
								<ul class="pagination justify-content-center">
									<li><a href="#">&lt;</a></li>
									<li class="active"><span>1</span></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">&gt;</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4">
				<div class="right_side">
					<div class="fcrse_2 mb-30">
						<div class="tutor_img">
							<a href="my_instructor_profile_view.html"><img src="/images/hd_dp.jpg" alt=""></a>
						</div>
						<div class="tutor_content_dt">
							<div class="tutor150">
								<a href="my_instructor_profile_view.html" class="tutor_name">Anh Kiểm</a>
								<div class="mef78" title="Verify">
									<i class="uil uil-check-circle"></i>
								</div>
							</div>
							<div class="tutor_cate">Số đánh giá: 1000</div>
						</div>
					</div>
					<div class="strttech120">
						<h4>Website đánh giá</h4>
						<p>Hãy thể quan điểm của bạn về các sản phẩm của Xiaomi. Bạn sẽ nhận được những món quà từ chúng
							tôi.</p>
						<button class="Get_btn"
							onclick="window.location.href = 'mailto:nguyenhaanhkiem@gmail.com';">Liên hệ chúng
							tôi</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>